.Home {
	margin: -3em;
}

.parallax {
	background-image: url(images/Hintergrund1080.png);
	background-size: 25em 30em;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

#leiste {
	width: 100%;
	height: 2.5em;
	margin-top: -6em;
}

#bulletPoint div div {
	text-align: center;
	padding: 3em 1em 3em 1em;
}

#bulletPoint div div h3{
	padding: 1em 0 0.5em 0;
}

@media (max-width:550px) {
	.Home {
		margin: -1em;
	}
}
