footer {
	background-color: #333333;
	width: 100%;
	padding: 1em;
	color: #747172;
	margin-top: auto;
}

#footerList {
	list-style: none;
	padding: 0;
	color: #747172;
}

#footerList a {
	list-style: none;
	color: #747172;
}

#footerList a:hover {
	text-decoration: none;
	color: white;
}

#footerList a:visited {
	list-style: none;
	color: #747172;
}

#footerList a:visited:hover {
	text-decoration: none;
	color: white;
}
