footer {
	background-color: #333333;
	height: "100em";
	width: 100%;
	padding: 1em 0 2.5em 0;
	color: #747172;
}

footer p {
	padding: 0 0 0 2.5em;
	float: left;
}

#footerList {
	list-style: none;
	color: #747172;
}

#footerList a{
	list-style: none;
	color: #747172;
}

#footerList a:hover {
	text-decoration: none;
	color: white;
}

#footerList a:visited {
	list-style: none;
	color: #747172;
}

#footerList a:visited:hover {
	text-decoration: none;
	color: white;
}
